@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
  background: rgb(252,252,252);
  background: linear-gradient(0deg, rgba(252,252,252,1) 2%, rgba(251,253,179,1) 41%, rgba(249,254,21,1) 88%);
}

.textStroke {
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}

/* Custom scrollbar for WebKit browsers */
.chatbox::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.chatbox::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

.chatbox::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

.chatbox::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

/* Hide scrollbar arrows (if any) */
.chatbox::-webkit-scrollbar-button {
  display: none; /* Remove arrows */
}

/* Custom scrollbar for Firefox */
.chatbox {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar color and track color */
}
